# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
public/dist/*
/dist
/dst
/tmp

# dependencies
/node_modules
/bower_components
/vendor

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
composer.lock
src/*.map
server/*.map
server/*.js
*.code-workspace

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#other
src/fonts

yarn-error.log